@using Microsoft.Ajax.Utilities
@model SchoolSchedule.ViewModels.BaseViewModel<SchoolSchedule.Models.Subject>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
                @Html.ActionLink("Добавить", "Create", new { ClassYear = Model.ClassYear}, new { @class = "btn btn-success" })
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
            @using (Html.BeginForm("Index", "Subjects", FormMethod.Post))
            {
                @Html.DropDownListFor(m => Model.ClassYear, Model.ClassYears, new { onchange = "this.form.submit();", @class = "form-control" })
            }
        </div>
    </div>

    <table class="table">
        <caption>List of subjects</caption>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th>
                    Название предмета
                </th>
                <th>
                    Класс
                </th>
                <th>Удален</th>
                <th>Рекдактирование</th>
            </tr>
        </thead>
        <tbody class="table-hover">
            @{var rowNumber = 0;}
            @foreach (var item in Model.List)
            {
                string rowClass;
                {
                    rowClass = (item.IsDeleted) ? "table-danger" : null;
                    rowNumber++;
                }
                <tr class="@rowClass">
                    <th scope="row">@rowNumber</th>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameKz)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDeleted)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
