@using SchoolSchedule.Helpers
@model SchoolSchedule.ViewModels.LessonViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        @Html.ActionLink("Жаңа сабақ қосу", "CreateByGroup", new { GroupId = Model.GroupId }, new { @class = "btn btn-success" })
    </div>
    <div class="btn-group mr-2" role="group" aria-label="First group">
        @Html.Label("Сыныпты таңдаңыз")
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Second group">
        @using (Html.BeginForm("IndexByGroup", "Lessons", FormMethod.Post))
        {
            @Html.DropDownListFor(m => Model.GroupId, Model.Groups, new { onchange = "this.form.submit();", @class = "form-control" })
        }
    </div>
</div>

<table class="table">
    <caption>Сабақтар тізімі</caption>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th>
                Апта күні
            </th>
            <th>
                Сабақ нөмірі
            </th>
            <th>
                Пән
            </th>
            <th>
                Мұғалім
            </th>
            <th>
                Сынып
            </th>
            <th>Өшірілген</th>
            <th>Өзгерту</th>
        </tr>
    </thead>
    <tbody class="table-hover">
    @{var rowNumber = 0;}
    @foreach (var item in Model.Lessons)
    {
        string rowClass;
        {
            rowClass = (item.IsDeleted) ? "table-danger" : null;
            rowNumber++;
        }
        <tr class="@rowClass">
            <th scope="row">@rowNumber</th>
            <td>
                @Html.Label(DictionaryHelper.GetDayOfWeekName(item.DayOfWeek))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectGroup.Subject.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectTeacher.Teacher.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectGroup.Group.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.ActionLink("Өзгерту", "Edit", new { id = item.Id })
                @Html.ActionLink("Өшіру", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
    </tbody>
</table>