<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SchoolSchedule</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="">
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        @Html.ActionLink("Сабақ кестесі", "Schedule", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                @Html.ActionLink("Басты бет", "Schedule", "Home", new { area = "" }, new { @class = "nav-item nav-link" })
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Пәндер", "Index", "Subjects", new { area = "" }, new { @class = "nav-item nav-link" })
                    @Html.ActionLink("Сыныптар", "Index", "Groups", new { area = "" }, new { @class = "nav-item nav-link" })
                    @Html.ActionLink("Мұғалімдер", "Index", "Teachers", new { area = "" }, new { @class = "nav-item nav-link" })
                    @Html.ActionLink("Пән мұғалімдері", "IndexByClass", "SubjectTeachers", new { area = "" }, new { @class = "nav-item nav-link" })
                    @Html.ActionLink("Сынып пәндері", "IndexByGroup", "SubjectGroups", new { area = "" }, new { @class = "nav-item nav-link" })
                    @Html.ActionLink("Сабақтар", "IndexByGroup", "Lessons", new { area = "" }, new { @class = "nav-item nav-link" })
                }
            </div>
        </div>
    </nav>
    <div class="text-right bg-warning">
        @Html.Partial("_LoginPartial")
    </div>

    <div class="body-content bg-light">
        @RenderBody()
        <hr/>
        <footer>
            <p>&copy; @DateTime.Now.Year - Сабақ кестесі</p>
        </footer>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
