@model SchoolSchedule.ViewModels.SubjectGroupViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        @Html.ActionLink("Добавить", "CreateByGroup", new { GroupId = Model.GroupId }, new { @class = "btn btn-success" })
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Second group">
        @using (Html.BeginForm("IndexByGroup", "SubjectGroups", FormMethod.Post))
        {
            @Html.DropDownListFor(m => Model.GroupId, Model.Groups, new { onchange = "this.form.submit();", @class = "form-control" })
        }
    </div>
</div>

<table class="table">
    <caption>List of subjects</caption>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th>
                Предмет
            </th>
            <th>
                Группа
            </th>
            <th>Удален</th>
            <th>Редактирование</th>
        </tr>
    </thead>
    <tbody class="table-hover">
        @{var rowNumber = 0;}
        @foreach (var item in Model.SubjectGroups)
        {
            string rowClass;
            {
                rowClass = (item.IsDeleted) ? "table-danger" : null;
                rowNumber++;
            }
            <tr class="@rowClass">
                <th scope="row">@rowNumber</th>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Group.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
