@model SchoolSchedule.ViewModels.SubjectGroupViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "CreateByGroup", new { GroupId = Model.GroupId})
    </p>
    <p>
        @using (Html.BeginForm("IndexByGroup", "SubjectGroups", FormMethod.Post))
        {
            <div style="text-align:center">
                <div class="form-group">
                    @Html.DropDownListFor(m => m.GroupId, Model.Groups, new { onchange = "this.form.submit();" })
                </div>
            </div>
        }
    </p>
    <table class="table">

        @foreach (var item in Model.SubjectGroups)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Group.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.NameKz)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</body>
</html>
